a{
  color: inherit;
}
.menubar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding-top: 10px;
  weight: 100%;
  flex-direction: row;
  box-shadow: 0px 5px 20px -10px rgba(34, 60, 80, 0.2);
}

.menubar a{
  height: 20px;
  text-decoration: none;
  color: #aaa;

}
.menubar img{
  height: 30%;
  width: auto;
}

.imglogo {
  text-decoration: none;
  
}
